/* Reset default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #028065

}




.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden; 
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn-primary,
.btn.btn-secondary {
  color: black !important;
  background-color: white !important;
  max-width: inherit !important;
  min-width: inherit !important;
  border-radius: 36px;
  padding: 20px 30px;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  line-height: 32px;
  transition: transform 0.3s ease, margin 0.3s ease;
  margin: 10px;
}

.btn.btn-secondary:hover {
  transform: scale(1.1);
  margin: 10px;
}


.block-overlay {
  position: relative;
  background-color: #FFFDD0;
  padding: 4rem 0;
}

.block-overlay h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.block-overlay p {
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 2rem;
}

.image-container {
  padding: 4rem 0;
}

.image-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.b-vimeo-embed {
  position: relative;
  overflow: hidden;
}

.b-vimeo-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Footer */
.footer .logo img {
  max-height: 40px; 
}

.footer .nav-item {
  margin: 0 10px;
}

/* Custom Classes */
.custom-bg {
  background-color: #028065; 
  color: #ffffff; 
}



.header {
  padding: 15px 0;
 
}

.logo img {
  max-height: 50px; 
}

.nav-item .nav-link {
  margin-right: 15px;
  color: #99e899;
}

.image-container {
  background-color: #83DEB2;
  position: relative;
  padding: 40px 0;
}

#a1 {
  background-color: #fff8e1;
  padding: 80px 0;
}

.c-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.c-button:hover {
  color: #000;
}

.r-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.r-button:hover {
  color: #000;
}


.f-button {
  display: inline-block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  text-align: center;
  border-radius: 36px;
  padding: 20px 30px;
  font-weight: normal;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.f-button:hover {
  background-color: #fff;
  color: #000;
}



.carousel-container {
  overflow: hidden;
  width: 80%; 
  margin: 0 auto;
  opacity: 1;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 25%; 
  flex: 0 0 auto; 
  object-fit: cover;
}

.carousel-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.carousel-nav button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.carousel-nav button i {
  font-size: 1.5rem;
}

.u-box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-sm {
  font-size: 1rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-mobile-md {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .text-mobile-md {
    font-size: 1.25rem;
  }
}

/* Section: What We Do */
.what-we-do {
  padding: 60px 20px;
}

.b-partners {
  padding: 60px 0;
  background-size: cover;
  background-position: center;
}

.b-partners__item-wrapper {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.b-partners__item-wrapper:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.b-partners__image-wrapper img {
  max-width: 100%;
  height: auto;
}

.b-partners__title-wrapper {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}


.b-wysiwyg {
  padding: 60px 0;
  background-size: cover;
  background-position: center;
}

.block-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.block-content ul {
  list-style: none;
  padding: 0;
}

.block-content ul li {
  font-size: 1rem;
  color: #000;
  margin-bottom: 10px;
}

.c-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;

}

.c-button:hover {
  color: #000;
 
}

.u-box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-left {
  text-align: left;
}

@media (max-width: 768px) {
  .b-wysiwyg .block-content {
      text-align: center;
  }
  .c-button {
      display: block;
      margin: 0 auto;
  }
}